.Preview {
  margin-top: 55px;
  position: absolute;
  top: 0;
  left: 62.2vw;
  background: rgba(0, 0, 0, 0.1);
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.Preview-board {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 6vw;
  height: 6vw;
}

@media screen and (max-width: 1366px) {
  .Preview {
    left: 63vw;
  }

  .Preview-board {
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 1024px) {
  
    .Preview {
      left: 18vw;
      margin-top:120px 
    }
}


@media screen and (max-width: 600px) {
  .Preview-board {
    margin: -4px 0;
  }

  .Preview {
    left: 69vw;
  }
}
